/* CSS Document */

body { margin: 0; padding: 0 }

.navbar { 
	position: relative;
	background-color: #222;
	padding: 10px;
	border-bottom: 10px solid #ff0069;
	overflow: hidden;
}

.navbar::before {
	content: "";
	background-image: url("images/walkin.png");
	background-size: 200px 80px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}

.logo {
	position: relative;
	left: 25px
}