/* CSS Document */
/* For the Navbar Buttons */

.navbar button { 


	font-weight: 200;
	font-size: 1.25em;
	color: white;
	font-weight: 200;
	font-family: 'Oswald', sans-serif;

	border-style: solid;
	border-color: #0000;
	background-color: #0000;

	border-radius: 2px;

	position: relative;
	left:10px;
	
	top:0%;
	bottom:100%;

	padding: 15px 20px;
	margin: 0px 4px;
	transition:0.05s;
	border-width: 2px;
	box-shadow: 0 0 16px #0007;

}


.navbar button:hover { 


	background-color: #fff2;
	border-color: #ffff;

	transition:0.2s;


}

.login {

	margin-left: auto;
	margin-right: 12px ;

}

/* TODO: Make this work without using !important. Not sure why it gets overridden by the button, but whatever. */
.loginbutton {
	
	background-color: #ff006955 !important;
	border-color: #ff0069 !important;

}

.loginbutton:hover {

	background-color: #fff5 !important;
	border-color: #ffff !important;
	
}