.newsdiv h1 {

	color: #fff;
	font-weight: 900;
	text-decoration: underline;
	/*text-decoration-color: #ff0069;*/
	font-family: 'Work Sans', sans-serif;
	text-align: center;

}

.newsdiv h2::before {

	content:" • ";

}

.newsdiv p {

	color: #eee;

}

.newsdiv {

	/*background-color: #1d1d1d;*/
	background: rgb(29,29,29);
	background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(34,34,34,1) 100%);

	color: #eee;
	font-family: 'Work Sans', sans-serif;
	
	border-radius: 16px;

	padding: 20px;

	padding-left: 40px;
	padding-right: 40px;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;

	border-bottom: 8px none #ff0069;
	box-shadow: 0 0 16px #0006;
	/*border-right: 6px solid #000;*/

}